body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1{
  color: #66BFBF;
  margin-top: 50px;
  font-size: 500%;
  line-height: 2;
}

h2
{
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3
{
  color: #11999E;
}

.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.skill-row
{
  text-align:left;
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.profile-img
{
  margin: 100px 0 0 0;
  height: 300px;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.footer-link
{
  color: #11999E;
}

.code-img
{
  width: 25%;
  float: left;
  margin: 30px;
}
.code-img2
{
  width: 25%;
  float: right;
  margin: 30px;
}

.bottom-container
{
  background: #EAF6F6;
}

.intro{
  width: 30%;
}
